{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Change Password
            </div>
            <div class="card-body">
                <!-- Error and success messages -->
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
                {% endif %}

                <!-- Current PW, New PW, Confirm New PW-->
                <form method="POST" action="{% url 'change_password' pk=account.pk %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="password" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                        <a href="{% url 'manage_account' pk=account.pk %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}