{% extends 'payroll_app/base.html' %}
{% load static %}

{% block nav %}
<ul class="navbar-nav d-flex flex-row">
    <li class="nav-item me-3">
    <a class="nav-link" href="">Employees</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="">Payslips</a>
    </li>
</ul>
{% endblock %}

{%block content%}

        <div class="col-10">
            <div class="d-flex justify-content-end mb-3">
                <a href="" class="btn btn-secondary me-2">+New Employee</a>
                <a href="{% url 'manage_account' pk=account.pk %}" class="btn btn-secondary me-2">Manage Account</a>
                <a href="{% url 'login' %}" class="btn btn-danger">Log Out</a>
            </div>
            <table class="table table-striped">
                <thead class="thead-light"></thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> ID Number </th>
                    <th scope="col"> Rate </th>
                    <th scope="col"> Allowance </th>
                    <th scope="col"> Overtime </th>
                    <th scope="col"> Options </th>
                </tr>
            </thead>
            <tbody>
                {% for e in Employees %} <!-- Loop through the employees -->
                <tr>
                    <td> {{ e.name }} </td>
                    <td> {{ e.id_number }} </td>
                    <td> {{ e.rate }} </td>
                    <td> {{ e.allowance }} </td>
                    <td> {{ e.overtime_pay }} </td>

                        <a href="{% url 'update_employee' %}" class="btn btn-primary">Update</a>
                        <a href="" class="btn btn-danger">Delete</a> <!-- Update/add method to delete from database-->
                        <div class="d-flex align-items-center">
                            <div class="me-2"></div>
                                <label for="quant-{{ e.id }}" class="form-label">Overtime Hours</label>
                                <input type="number" min="0" class="form-control" id="quant-{{ e.id }}" name="quant" required> <!-- update overtime + add overtime buttons -->
                            </div>
                            <a href="{% url 'view_employee' %}" class="btn btn-success">Add Overtime</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}