{% extends 'payroll_app/base.html' %}
{% load static %}

{%block content%}

        <div class="col-10">
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">Employees</h2>
                    <div class="d-flex">
                        <a href="{% url 'new_employee' %}" class="btn btn-secondary me-2">+New Employee</a>
                        <a href="{% url 'manage_account' pk=account.pk %}" class="btn btn-secondary me-2">Manage Account</a>
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark"></thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> ID Number </th>
                    <th scope="col"> Rate </th>
                    <th scope="col"> Allowance </th>
                    <th scope="col"> Overtime </th>
                    <th scope="col"> Options </th>
                </tr>
            <tbody>
                {% for e in employee %} <!-- Loop through the employees -->
                <tr>
                    <td> {{ e.name }} </td>
                    <td> {{ e.id_number }} </td>
                    <td> {{ e.rate }} </td>
                    <td> {{ e.allowance }} </td>
                    <td> {{ e.overtime_pay }} </td>
                    <td>
                        <div class="d-flex flex-column gap-2">
                            <div class="d-flex gap-2">
                                <a href="" class="btn btn-primary btn-sm">Update</a>
                                <a href="" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                            <div class="d-flex gap-2">
                                <input type="number" min="0" name="quant" id="quant-{{ e.id }}"
                                class="form-control form-control-sm" placeholder="Overtime Hours" required>
                                <form action="" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-sm">Add Overtime</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}